<!DOCTYPE html>
<html lang="pt-BR">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapa da Escravidão</title>
    <link rel="preload" href="styles.css" as="style">
    <link rel="stylesheet" href="styles.css">
    <meta name="description" content="O Mapa da Escravidão utiliza os dados oficiais para demonstrar o trabalho análogo à escravidão no Brasil.">
    <meta property="og:title" content="Mapa da Escravidão">
    <meta property="og:description" content="O Mapa da Escravidão utiliza os dados oficiais para demonstrar o trabalho análogo à escravidão no Brasil.">
    <meta property="og:url" content="{{ site.url }}">
    <meta property="og:image" content="https://mapadaescravidao.com.br/imagens/og-compartilhar.png">
    <meta property="og:image:width" content="400">
    <meta property="og:image:height" content="400">
    <meta property="og:logo" content="https://mapadaescravidao.com.br/imagens/og-compartilhar.png" />
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="APROVADOS AFT"/>
    <meta name="robots" content="index, follow">
    <link rel="canonical" href="https://mapadaescravidao.com.br/">
    <link rel="icon" href="imagens/favicon.png" type="image/png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css">
    <link rel="apple-touch-icon" href="imagens/logotipo.png">
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "WebSite",
            "name": "Mapa da Escravidão",
            "url": "https://mapadaescravidao.com.br",
            "description": "O Mapa da Escravidão utiliza os dados oficiais para demonstrar o trabalho análogo à escravidão no Brasil."
        }
    </script>

</head>

<body>

    <header class="header">
        <div class="container-header">
            <a href="index.html" class="logo"><img src="imagens/logo.png" width="231" height="62" alt="Mapa do trabalho escravo contemporâneo no Brasil"></a>
            
            <nav class="desktop-menu">
                <a href="/" class="menu-link">Início</a>
                <a href="/carta" class="menu-link">Carta</a>
                <a href="/noticias" class="menu-link">Notícias</a>
                <a href="/apoiadores" class="menu-link">Apoiadores</a>
                <a href="/mapa-escravidao" class="menu-link">Mapa da Escravidão</a>
                <a href="/transparencia" class="menu-link">Transparência</a>
            </nav>

                <button class="mobile-menu-button" id="menuBtn">
                    <svg  xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"  stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 6l16 0" /><path d="M4 12l16 0" /><path d="M4 18l16 0" /></svg>
                </button>
        </div>
    </header>

    <div class="mobile-menu" id="mobileMenu">
        <div style="display: flex; width: 100%; justify-content: space-between;">
            <span class="title" style="font-size: 20px;">MENU</span>
            <button class="close-button" id="closeBtn">
                <svg  xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 6l-12 12" /><path d="M6 6l12 12" /></svg>
            </button>
        </div>
        <nav class="mobile-nav">
            <a href="index.html" class="menu-link mobile">Início</a>
                <a href="#" class="menu-link mobile">Sobre</a>
                <a href="noticias" class="menu-link mobile">Notícias</a>
                <a href="#" class="menu-link mobile">Apoiadores</a>
                <a href="mapa-escravidao" class="menu-link mobile">Mapa da Escravidão</a>
                <a href="#" class="menu-link mobile">Documentos</a>
        </nav>
    </div>

    <main>

        {{ content }}

    </main>

    <footer class="footer">
        <div class="container-footer">
            <span style="font-weight: bold; color: var(--azul);">Mapa da Escravidão</span><span id="ano-atual"></span>
        </div>
    </footer>

    <script src="/script.js"></script>

</body>

</html>
















